.p-l-r-60{
    padding-left: 60px;
    padding-right: 60px;
}
.p-t-65{
    padding-top: 65px;
}
.m-l-60{
    margin-left: 60px;
}
.m-t-70{
    margin-top: 70px;
}
.m-t-30{
    margin-top: 30px;
}
.p-r-80{
/*    padding-right: 80px;*/
}
.p-b-130{
    padding-bottom: 130px;
}
.p-t-b-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
