#main img {
    width: 100%;
    height: auto;
}

h1 {
    /* position: absolute; */
    text-align: center;
    /* width: 100%; */
    /* color: #000; */
    /* padding-top: 160px;    padding-left: 30px; */
    /* padding-right: 30px; */
}

h2 {
    padding-bottom: 75px;
    padding-top: 70px;
    font-size:2em;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
}

.wrapper.first {
    padding-top: 0;
    background-color: #dadada;
    padding: 30px;
}

.wrapper .reference {
    /*width: 30%;*/
    max-width: 30%;
    min-width: 30%;
    margin-bottom: 60px;
    flex: 1;
    /* max-width: ; */
    padding-bottom: 136px;
    /* margin-left: 45px; */
    /* margin-right: 45px; */
}

.wrapper .reference.first {
    margin-left: 0;
}

.wrapper .reference.last {
    margin-right: 0;
}

.wrapper .img-reference img {
    width: 100%;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .text {
    /* color: white; */
    /* padding-left: 65px; */
    /* padding-right: 65px; */
    text-align: justify;
}

.text p {
    color: white;
    padding-bottom: 150px;
    margin-bottom: 0;
    text-align: justify;
}

.wrapper .reference a {
    /* color: white; */
    display: block;
    text-align: justify;
    width: 100%;
    padding-left: 65px;
    padding-right: 65px;
    text-align-last: center;
}
.wrapper .reference a:hover{
    text-decoration: none;
}
.reference img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* max-height: 230px; */
    height: auto;
    max-width: 550px;
    width: 100%;
    padding-top: 40px;
}

.wrapper .reference {
    /* margin-left: 35px; */
    margin-bottom: 30px;
}
.reference:nth-child(2n){
    background-color: #82b1d3;
}.reference:nth-child(2n+1){
    background-color: #004263;
}
.reference:nth-child(2n) h2,.reference:nth-child(2n)p.text{
color:black;
}.reference:nth-child(2n+1) h2,.reference:nth-child(2n+1) p.text{
    color:#fff;

    }
@media (max-width:1600px) and (min-width:1400px) {
    .text p {
        padding-bottom: 100px;
    }

    h2 {
        padding-bottom: 50px;
        padding-top: 55px;
    }

}

@media (max-width:1400px) and (min-width:1200px) {
    h2 {
        padding-bottom: 30px;
        padding-top: 35px;
    }

    .text p {
        padding-bottom: 100px;
    }


}
@media(max-width:1400px){
    .wrapper .reference a {
        padding-left:35px;
        padding-right: 35px;
    }
}
@media (max-width:1200px) {
    .wrapper .reference a {
        padding-left:15px;
        padding-right: 15px;
    }
    h2 {
        padding-bottom: 15px;
        padding-top: 20px;
        font-size: 1.8em;
        padding-right: 35px;
        padding-left: 35px;
    }

    .text p {
        padding-bottom: 70px;
    }

    .wrapper {
justify-content: space-around;

    }

    .wrapper img {
        bottom: 0;
    }

    .wrapper .reference {
min-width: 40%;
max-width: 40%;
margin-left: 0;
margin-right: 0;

    }
    .wrapper .img img {

        width: 50%;
        border: 0;
        padding: 15px;
    }

    .wrapper {
        /* flex-direction: column; */
        padding: 0;
    }

    .wrapper .reference {
        /* margin: 0; */
        padding-bottom: 40px;
    }

    /* .wrapper .reference.first {
        margin: 0;
    } */
        .wrapper .text{
        padding-left: 35px;
        padding-right: 35px;
    }
    .wrapper .img-reference img{
        padding-top: 40px;
    }
    h1{
        padding-top: 80px;
    }
    .reference img {
     /* max-height: 190px; */
    max-width: 350px;
    }
}
@media (max-width:992px) {
    h1{
        padding-top:40px;
        font-size: 2em;
    }
.wrapper{
    flex-direction: column;
}
.wrapper .reference{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.wrapper .reference a {
    display: flex;
    flex-direction: row;align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}
.wrapper .reference .text a{
    padding-left: 0;
    padding-right: 0;
}
.wrapper .reference:nth-child(2n) a{
    flex-direction: row-reverse;
}
.wrapper .reference:nth-child(2n+1) a{
    flex-direction: row;
}

  
    .wrapper .wrapper_texte{
        flex:1 ;text-align: center;
    }
    .reference img{
        width: auto;
        
        max-width: 200px;
        align-self: flex-start;
        max-width: 200px;
        padding-top: 0;
    }
    .wrapper .reference{
        margin-bottom: 0;
    }
    

/* }
@media (max-width:650px) { */
    .wrapper .reference a{
        flex-direction: column !important;
    }
    .wrapper .reference{
        padding-top: 40px;
    }
    h1{padding-top: 20px;font-size: 1.5em;}
}